#age-restriction-minor .full-menu__image-container {
  background-image: url('@img/icons/under-18.svg');
}

#age-restriction-adult .full-menu__image-container {
  background-image: url('@img/icons/over-18.svg');
}

#menu-side .full-menu__image-container {
  background-size: contain, 20rem;
  background-position: center, right top;
}

#stand .full-menu__image-container {
  background-image: url('@img/icons/poses/stand.svg');
}

#solo-on-back .full-menu__image-container {
  background-image: url('@img/icons/poses/solo-on-back.svg');
}

#couple-69 .full-menu__image-container {
  background-image: url('@img/icons/poses/couple-69.svg');
}

#couple-ascent-to-desire .full-menu__image-container {
  background-image: url('@img/icons/poses/couple-ascent-to-desire.svg');
}

#couple-blowjob-on-back .full-menu__image-container {
  background-image: url('@img/icons/poses/couple-blowjob-on-back.svg');
}

#couple-blowjob-on-knees .full-menu__image-container {
  background-image: url('@img/icons/poses/couple-blowjob-on-knees.svg');
}

#couple-boat .full-menu__image-container {
  background-image: url('@img/icons/poses/couple-boat.svg');
}

#couple-cowgirl .full-menu__image-container {
  background-image: url('@img/icons/poses/couple-cowgirl.svg');
}

#couple-cross .full-menu__image-container {
  background-image: url('@img/icons/poses/couple-cross.svg');
}

#couple-fan .full-menu__image-container {
  background-image: url('@img/icons/poses/couple-fan.svg');
}

#couple-from-behind .full-menu__image-container {
  background-image: url('@img/icons/poses/couple-from-behind.svg');
}

#couple-missionary .full-menu__image-container {
  background-image: url('@img/icons/poses/couple-missionary.svg');
}

#couple-reverse-cowgirl .full-menu__image-container {
  background-image: url('@img/icons/poses/couple-reverse-cowgirl.svg');
}

//
#double-finger .full-menu__image-container {
  background-image: url('@img/icons/toys/double-finger.svg');
}

#butt-plug-1 .full-menu__image-container {
  background-image: url('@img/icons/toys/butt-plug-1.svg');
}

#butt-plug-2 .full-menu__image-container {
  background-image: url('@img/icons/toys/butt-plug-2.svg');
}

#dildo .full-menu__image-container {
  background-image: url('@img/icons/toys/dildo.svg');
}

#egg-vibrator .full-menu__image-container {
  background-image: url('@img/icons/toys/egg-vibrator.svg');
}

#plug-2 .full-menu__image-container {
  background-image: url('@img/icons/toys/plug-2.svg');
}

#plug .full-menu__image-container {
  background-image: url('@img/icons/toys/plug.svg');
}

#vibrator-2 .full-menu__image-container {
  background-image: url('@img/icons/toys/vibrator-2.svg');
}

#vibrator-3 .full-menu__image-container {
  background-image: url('@img/icons/toys/vibrator-3.svg');
}

#vibrator-4 .full-menu__image-container {
  background-image: url('@img/icons/toys/vibrator-4.svg');
}

#vibrator-5 .full-menu__image-container {
  background-image: url('@img/icons/toys/vibrator-5.svg');
}

#vibrator .full-menu__image-container {
  background-image: url('@img/icons/toys/vibrator.svg');
}

#poses .menu__image-box {
  background-image: url('@img/icons/poses/poses.svg');
}

#settings .menu__image-box {
  background-image: url('@img/icons/settings.svg');
}

#sex-toys .menu__image-box {
  background-image: url('@img/icons/sex-toys.svg');
}

#additional-options .menu__image-box {
  background-image: url('@img/icons/additional-options.svg');
}

#surroundings .menu__image-box {
  background-image: url('@img/icons/sofa.svg');
}

#models .menu__image-box {
  background-image: url('@img/icons/models.svg');
}

#additional-controls .menu__image-box {
  background-image: url('@img/icons/controls.svg');
}

#sofa .full-menu__image-container {
  background-image: url('@img/icons/surroundings/sofa.svg');
}

#photo-studio .full-menu__image-container {
  background-image: url('@img/icons/surroundings/photo-studio.svg');
}

#bdsm-room .full-menu__image-container {
  background-image: url('@img/icons/surroundings/bdsm.svg');
}

#classroom .full-menu__image-container {
  background-image: url('@img/icons/surroundings/classroom.svg');
}

#porno-studio .full-menu__image-container {
  background-image: url('@img/icons/surroundings/porno-studio.svg');
}

.model-icon .full-menu__image-container {
  background-image: url('@img/icons/models.svg');
}

#axis-rotate .menu__image-box {
  background-image: url('@img/icons/axis-rotate.svg');
}

#axis-move .menu__image-box {
  background-image: url('@img/icons/axis-move.svg');
}

#zoom .menu__image-box {
  background-image: url('@img/icons/zoom.svg');
}
