.full-menu {
  width: 100%;
  height: 60%;
  position: fixed;
  padding: 30rem;

  bottom: 0;
  left: 0;
  background-color: rgba(14, 18, 27, 0.6);
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
  border: 1px solid #5e5e5e;
  border-bottom: none;
  transform: translate(0, 100%);
  transition: transform 0.25s linear;

  &.active {
    transform: translate(0, 0);
  }

  &__close {
    font: inherit;
    font-size: 14rem;
    width: 40px;
    letter-spacing: 4rem;
    height: 20px;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    color: #5e5e5e;
    font-weight: 400;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;

    // &::before {
    //   content: '';
    //   display: block;
    //   left: 50%;
    //   top: 50%;
    //   width: 100%;
    //   height: 4px;
    //   border-radius: 4px;
    //   background-color: #ffffff;
    //   position: absolute;
    // }

    &.hide {
      display: none;
    }
  }

  // &__close-text {
  //   background-color: #ffffff;
  //   border-radius: 50px;
  //   padding: 0rem 16rem;
  //   text-align: center;
  //   line-height: 0;
  // }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    padding: 10rem;
    flex: 1 1 25%;
    max-width: 25%;
    justify-content: flex-start;
    align-items: center;

    &.disabled {
      .full-menu__image-container {
        opacity: 0.5;
      }
    }

    &.--settings {
      flex-direction: row-reverse;
      flex: 1 1 100%;
      max-width: 100%;
      align-items: flex-start;
      border-bottom: 1px solid #5e5e5e;

      .full-menu__button,
      .full-menu__item-name {
        flex: 1 1 50%;
        max-width: 50%;
      }

      .full-menu__button {
      }

      .full-menu__item-name {
        font-size: 16rem;
        text-align: left;
        padding: 0 10rem 0 0;
      }
    }

    &.--age-restriction__text {
      flex: 1 1 100%;
      max-width: 100%;

      .full-menu__button {
        display: none;
      }

      .full-menu__item-name {
        margin: 0;
        display: flex;
        flex-direction: column;
      }
    }

    &.--age-restriction__button {
      flex: 1 1 50%;
      max-width: 50%;
    }
  }

  &__button {
    width: 50rem;
    height: 50rem;
    border-radius: 10rem;
    background-color: rgba(14, 18, 27, 0.6);
    border: 1px solid #5e5e5e;
    padding: 10rem;
    transition: transform 0.05s linear;
    cursor: pointer;

    &:active {
      transform: scale(0.9);
    }
  }

  &__image-container {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__item-name {
    color: #e3e3e3;
    font-weight: 300;
    font-size: 12rem;
    line-height: 1.2;
    margin: 3rem 0 0 0;
    text-align: center;
  }

  &.form {
    height: 90%;

    z-index: 2;
  }

  &__content {
    display: flex;
    justify-content: center;
  }
}

@include screen-tb {
  .full-menu {
    border-width: 2px;
    border-top-left-radius: 40rem;
    border-top-right-radius: 40rem;
    padding: 40rem;

    &__close {
      width: 80px;
      height: 40px;

      &::before {
        height: 6px;
      }
    }

    &__button {
      width: 120rem;
      height: 120rem;
      border-radius: 25rem;
      padding: 20rem;
    }

    &__list-item {
      &.--settings {
        .full-menu__item-name {
          font-size: 20rem;
          margin: 6rem 0 0 0;
        }
      }
    }

    &__item-name {
      font-size: 24rem;
    }
  }
}

@include screen-lp {
  .full-menu {
    width: 70%;
    left: 50%;
    transform: translate(-50%, 100%);

    &.active {
      transform: translate(-50%, 0);
    }

    &__list-item {
      &.--settings {
        .full-menu__item-name {
          font-size: 26rem;
        }
      }
    }
  }
}
