.main-header {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  &__progress-container {
    display: flex;
    width: 100%;
  }
}

@include screen-lp {
  .main-header {
    padding: 20px 20%;
    &__progress-container {
    }
  }
}
