.menu {
  &__control-container {
    display: none;
    position: fixed;
    bottom: 0;
    padding: 5rem;

    &.active {
      display: block;
    }
  }

  &__control {
    padding: calc(var(--burger-button-size) / 2.5);
    width: calc(var(--burger-button-size) * 1.5);
    height: calc(var(--burger-button-size) * 1.5);
    border-radius: 50%;
    box-shadow: none;
    background-color: rgba(14, 18, 27, 0.6);
    border: 1px solid #5e5e5e;
    z-index: 1;
    position: relative;
    cursor: pointer;
  }

  &__line {
    position: absolute;
    top: calc(50% - calc(var(--burger-button-line-height) / 2));
    left: 0;
    width: 100%;
    height: var(--burger-button-line-height);
    border-radius: calc(var(--burger-button-line-height) * 2);
    background-color: #e3e3e3;
    transition: opacity 0.25s linear;
  }

  &__burger {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border: none;
    position: relative;
    cursor: pointer;

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: var(--burger-button-line-height);
      border-radius: calc(var(--burger-button-line-height) * 2);
      background-color: #e3e3e3;
      transition: transform 0.25s linear, top 0.25s linear, bottom 0.25s linear;
    }

    &::after {
      top: 0;
    }

    &::before {
      bottom: 0;
    }

    &.hide {
      display: none;
    }

    &.close {
      .menu__line {
        opacity: 0;
      }

      &::after {
        top: calc(50% - calc(var(--burger-button-line-height) / 2));
        transform: rotate(45deg);
      }

      &::before {
        bottom: calc(50% - calc(var(--burger-button-line-height) / 2));
        transform: rotate(-45deg);
      }
    }
  }

  &__joystick {
    display: none;

    &.active {
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid #5e5e5e;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.6);
      position: relative;
      z-index: 1;
      transition: transform 0.025s linear;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: none;
    background-color: rgba(14, 18, 27, 0.6);
    border: 1px solid #5e5e5e;
    cursor: pointer;
    transition: transform 0.05s linear;

    &:active {
      transform: scale(0.9);
    }
  }

  &__image-box {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__table {
    position: fixed;
    bottom: 0;
    right: 0;
    border-collapse: collapse;
    transition: transform 0.25s linear;

    &.active {
      .menu__table-data {
        width: calc(var(--burger-button-size) / 1);
        height: calc(var(--burger-button-size) / 1);
      }
    }
  }

  &__table-row:nth-child(1) {
    .menu__table-data:nth-child(2) {
      .menu__data-container {
        transform: translate(-5%, 20%);
      }
    }
  }

  &__table-row:nth-child(2) {
    .menu__table-data:nth-child(1) {
      .menu__data-container {
        transform: translate(20%, -5%);
      }
    }
  }

  &__table-data {
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-color: transparent;
    width: 0;
    height: 0;
    position: relative;
    transition: width 0.25s linear, height 0.25s linear;

    .menu__data-container {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
}

@include screen-tb {
  .menu {
    &__control-container {
      padding: 15px;
    }

    &__control {
      padding: calc(var(--burger-button-size) / 1.5);
      width: calc(var(--burger-button-size) * 2.5);
      height: calc(var(--burger-button-size) * 2.5);
      border-width: 2px;
    }

    &__button {
      border-width: 2px;
    }

    &__table {
      &.active {
        .menu__table-data {
          width: calc(var(--burger-button-size) / 0.65);
          height: calc(var(--burger-button-size) / 0.65);
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #additional-controls {
    pointer-events: none;

    .menu__image-box {
      display: none;
    }
  }
}
