.mobile-landscape-warning {
  display: none;
}

@media only screen and (max-width: 1023px) and (orientation: landscape) and (pointer: coarse) and (min-aspect-ratio: 1.5/1) {
  main {
    display: none;
  }

  @keyframes rotateArrow {
    0% {
      transform: rotate(-30deg);
    }

    40% {
      transform: rotate(0deg);
    }

    60% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-30deg);
    }
  }

  .mobile-landscape-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $backgroundMobileLandscapeWarning;
    z-index: 999;

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5rem;
      height: 48vh;
      width: 48vh;
      padding: 13rem;
    }

    &__icon-box {
      width: 100%;
      height: 48%;
      position: relative;
      background-image: url('@img/icons/landscape-tablets.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      &::after {
        content: '';
        position: absolute;
        width: 5vh;
        height: 5vh;
        top: 0;
        right: 30%;
        background-image: url('@img/icons/landscape-arrow.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform-origin: left bottom;
        animation: rotateArrow 2s linear infinite;
      }
    }

    p {
      font: inherit;
      font-size: 6rem;
      color: white;
      text-align: center;
    }
  }
}
