:root {
  --burger-button-line-height: 4px;
  --burger-button-size: 50rem;
}

body {
  background-color: rgb(19, 21, 68);
  font-family: 'Ubuntu', sans-serif;
}

html.--right {
  .menu__control-container {
    right: 0;
  }

  .menu__table {
    right: 0;
  }

  #back .menu__image-box {
    background-image: url('@img/icons/back.svg');
  }

  #menu-side .full-menu__image-container {
    background-image: url('@img/icons/right.svg'), url('@img/icons/left.svg');
  }

  table.menu__table {
    transform: translate(150%, 150%);
  }

  table.menu__table.active {
    transform: translate(0, 0);
  }
}

html.--left {
  .menu__control-container {
    left: 0;
  }

  .menu__table {
    left: 0;
  }

  #back .menu__image-box {
    background-image: url('@img/icons/back.svg');
    transform: scaleX(-1);
  }

  #menu-side .full-menu__image-container {
    background-image: url('@img/icons/left.svg'), url('@img/icons/right.svg');
  }

  table.menu__table {
    transform: scaleX(-1) translate(150%, 150%);
  }

  table.menu__table.active {
    transform: scaleX(-1) translate(0, 0);
  }
}

@include screen-tb {
  html.--right {
    .menu__table {
      right: 10px;
      bottom: 10px;
    }
  }

  html.--left {
    .menu__table {
      left: 10px;
      bottom: 10px;
    }
  }
}
